<a href="https://colab.research.google.com/github/ccnmagnoo/colabs/blob/main/mhe_app_heavy_downloader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests

In [ ]:
##iter
YEAR_RANGE = range(2016,2022+1,1)
OPERATOR = 5
##query function returninf frame
def queryApi(year,operator):
  url:str = f'https://us-central1-myappt51.cloudfunctions.net/app/api/rooms?key=fa37Q3WqWOUoXCLXyAm0kRwmQaJ2&year={year}&op={operator}'
  res = requests.get(url)
  ##proceed return df
  query = res.json()
  df = pd.DataFrame(query["rooms"])
  return df

In [ ]:
##
global_data = pd.DataFrame()
##iter
for year in YEAR_RANGE:
  df = queryApi(year,OPERATOR)
  global_data = pd.concat([global_data,df])

global_data.sample(10)

,index,idCal,date,colaborator,cityOnOp,province,region,deployLand,deployType,attendees,enrolled,delivery,statistics,uuid
0,0,R262.05,2019-08-22T19:00:00.000Z,Municipalidad de Viña del Mar,Viña del Mar,Valparaíso,Valparaíso,Viña del Mar,city,111,111,2019-08-22T19:00:00.000Z,"{'20': 1, '30': 4, '40': 13, '50': 17, '60': 3...",0Ivu93DK2t3o9jgjyoyj
48,48,R159.05,2017-10-11T18:00:00.000Z,Municipalidad de Rinconada,Rinconada,Los Andes,Valparaíso,Rinconada,city,105,105,2017-10-11T18:00:00.000Z,"{'30': 10, '40': 24, '50': 25, '60': 19, '70':...",hWu1mSx1pcbEp00K8RLq
35,35,R167.05,2017-11-02T18:00:00.000Z,Municipalidad de Hijuelas,Hijuelas,Quillota,Valparaíso,Hijuelas,city,64,64,2017-11-02T18:00:00.000Z,"{'30': 6, '40': 13, '50': 25, '60': 15, '70': ...",UJyOrEbaxcOzTETD1JQn
2,2,R351.05,2022-05-24T20:00:00.000Z,Municipalidad De Quintero,Quintero,Valparaíso,Valparaíso,Quintero,city,96,118,2022-05-24T21:00:00.000Z,"{'30': 14, '40': 36, '50': 22, '60': 18, '70':...",QuqC2LBxrucJ7auTKNyF
31,31,R265.05,2019-12-19T18:00:00.000Z,Municipalidad de Viña del Mar,Viña del Mar,Valparaíso,Valparaíso,Viña del Mar,city,59,59,2019-12-19T18:00:00.000Z,"{'30': 4, '40': 15, '50': 10, '60': 20, '70': ...",rXoNex3mVo06U9UZsNVC
49,49,R028.05,2016-05-24T19:00:00.000Z,Municipalidad de Olmué,Olmué,Marga Marga,Valparaíso,Olmué,city,201,201,2016-05-24T19:00:00.000Z,"{'30': 7, '40': 17, '50': 34, '60': 78, '70': ...",dJiB0myn6DPUZfjnCGia
21,21,R016.05,2016-04-19T18:00:00.000Z,Municipalidad de Putaendo,Putaendo,San Felipe de Aconcagua,Valparaíso,Putaendo,city,133,133,2016-04-19T18:00:00.000Z,"{'20': 2, '30': 12, '40': 34, '50': 29, '60': ...",LJlc1oTjSixjKASbuavP
10,10,R004.05,2016-03-16T18:00:00.000Z,Municipalidad de Hijuelas,Hijuelas,Quillota,Valparaíso,Hijuelas,city,85,85,2016-03-16T18:00:00.000Z,"{'30': 3, '40': 8, '50': 18, '60': 31, '70': 2...",BFjFdbOtjFbykanudML9
0,0,R332.05,2021-11-04T18:00:00.000Z,Municipalidad De Algarrobo,Algarrobo,San Antonio,Valparaíso,Algarrobo,city,11,15,2021-11-04T19:00:00.000Z,"{'40': 1, '50': 1, '60': 5, '70': 4, 'F': 4, '...",1N1N1D2ST4WFCms2QBy1
44,44,R302.05,2021-07-20T15:00:00.000Z,Municipalidad De Cabildo,Cabildo,Petorca,Valparaíso,Cabildo,city,54,71,2021-07-28T19:00:00.000Z,"{'30': 6, '40': 18, '50': 18, '60': 9, '70': 3...",o8wTk9JlL1OXxZL584L2

In [ ]:
global_data.shape
global_data.to_excel('/content/drive/MyDrive/MinEnergia/01.MHe/global.xlsx')